<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/latif/IdeaProjects/eCommerceLuma_FrontEnd"/>

    <test name="eCommerceLuma_FrontEnd" verbose="2" preserve-order="true" >
        <classes>
            <class name="com.qa.testcases.LoginPageTest"></class>


        </classes>

    </test>
</suite>